.error-div {
  place-content: center;
  text-align: center;
  height: 100dvh;
  background-color: #640000;

  h1,
  h3,
  p {
    color: #fff;
    text-transform: none;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 0;

    &::before {
      content: "";
      display: none;
    }
  }
  h1 {
    font-weight: 400;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 3;
  }
  p,
  a {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
  }
}
